@charset "UTF-8";
/*
@include transition(0.3s);
@include transform-origin(0%, 50%);
@include border-radius(5px);
@include box-shadow(0px 0px 3px #ccc);
@include animation(animationSample 1.2s ease 0.15s);
*/
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:700|Merriweather:700|PT+Serif:700");
@import url("https://fonts.googleapis.com/css?family=Lora|Merriweather");
@import url("https://fonts.googleapis.com/earlyaccess/sawarabimincho.css");
/*
font-family: 'PT Serif', serif;
font-family: 'Droid Serif', serif;
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
font-family: 'Merriweather', serif;
*/
/*
@include transition(0.5s);
@include animation(animationSample 1.2s ease 0.15s);
*/
@-webkit-keyframes amine1 {
  0% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  80% {
    opacity: 1;
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-moz-keyframes amine1 {
  0% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  80% {
    opacity: 1;
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes amine1 {
  0% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  80% {
    opacity: 1;
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); }
  100% {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@-webkit-keyframes amine2 {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
    -ms-transform: rotate(0deg) scale(1, 1);
    -webkit-transform: rotate(0deg) scale(1, 1);
    transform: rotate(0deg) scale(1, 1); }
  50% {
    -moz-transform: rotate(180deg) scale(0.7, 0.7);
    -ms-transform: rotate(180deg) scale(0.7, 0.7);
    -webkit-transform: rotate(180deg) scale(0.7, 0.7);
    transform: rotate(180deg) scale(0.7, 0.7); }
  80% {
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
    -ms-transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
    transform: rotate(360deg) scale(1, 1); } }
@-moz-keyframes amine2 {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
    -ms-transform: rotate(0deg) scale(1, 1);
    -webkit-transform: rotate(0deg) scale(1, 1);
    transform: rotate(0deg) scale(1, 1); }
  50% {
    -moz-transform: rotate(180deg) scale(0.7, 0.7);
    -ms-transform: rotate(180deg) scale(0.7, 0.7);
    -webkit-transform: rotate(180deg) scale(0.7, 0.7);
    transform: rotate(180deg) scale(0.7, 0.7); }
  80% {
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
    -ms-transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
    transform: rotate(360deg) scale(1, 1); } }
@keyframes amine2 {
  0% {
    -moz-transform: rotate(0deg) scale(1, 1);
    -ms-transform: rotate(0deg) scale(1, 1);
    -webkit-transform: rotate(0deg) scale(1, 1);
    transform: rotate(0deg) scale(1, 1); }
  50% {
    -moz-transform: rotate(180deg) scale(0.7, 0.7);
    -ms-transform: rotate(180deg) scale(0.7, 0.7);
    -webkit-transform: rotate(180deg) scale(0.7, 0.7);
    transform: rotate(180deg) scale(0.7, 0.7); }
  80% {
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  100% {
    -moz-transform: rotate(360deg) scale(1, 1);
    -ms-transform: rotate(360deg) scale(1, 1);
    -webkit-transform: rotate(360deg) scale(1, 1);
    transform: rotate(360deg) scale(1, 1); } }
/* line 3, ../sass/_default.scss */
body {
  -webkit-text-size-adjust: 100%; }

/* line 10, ../sass/_default.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif; }

/* line 15, ../sass/_default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 18, ../sass/_default.scss */
fieldset, img {
  border: 0; }

/* line 19, ../sass/_default.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal; }

/* line 22, ../sass/_default.scss */
li {
  list-style: none; }

/* line 22, ../sass/_default.scss */
caption, th {
  text-align: left; }

/* line 23, ../sass/_default.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

/* line 26, ../sass/_default.scss */
q:before, q:after {
  content: ''; }

/* line 27, ../sass/_default.scss */
abbr, acronym {
  border: 0;
  font-variant: normal; }

/* line 28, ../sass/_default.scss */
sup {
  vertical-align: text-top; }

/* line 29, ../sass/_default.scss */
sub {
  vertical-align: text-bottom; }

/* line 30, ../sass/_default.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

/* line 31, ../sass/_default.scss */
input, textarea, select {
  *font-size: 100%; }

/* line 32, ../sass/_default.scss */
legend {
  color: #000; }

/* line 34, ../sass/_default.scss */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
  zoom: 1; }

/* line 44, ../sass/_default.scss */
#clearfix {
  display: inline-block; }

/* line 1, ../sass/_layout.scss */
h1.title {
  font-family: 'Lora', serif;
  font-size: 56px;
  margin-top: 75px;
  text-align: center; }

/* line 9, ../sass/_layout.scss */
header {
  background: #EBEBEB;
  width: 100%;
  padding: 25px 0px;
  margin-top: 65px; }
  /* line 16, ../sass/_layout.scss */
  header h1 {
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center; }

/* line 24, ../sass/_layout.scss */
footer {
  background: #EBEBEB;
  width: 100%;
  padding: 25px 0px; }
  /* line 29, ../sass/_layout.scss */
  footer h1 {
    font-family: 'Lora', serif;
    font-size: 28px;
    text-align: center; }

/* line 36, ../sass/_layout.scss */
.contents {
  background: #F5F5F5;
  width: 100%;
  margin: 0 auto;
  padding: 65px 55px; }
  /* line 42, ../sass/_layout.scss */
  .contents .coL {
    width: 60%;
    float: left; }
  /* line 46, ../sass/_layout.scss */
  .contents .coR {
    width: 30%;
    float: right;
    background: #EBEBEB;
    height: 100%; }
    /* line 52, ../sass/_layout.scss */
    .contents .coR aside {
      padding: 25px; }
      /* line 54, ../sass/_layout.scss */
      .contents .coR aside h1 {
        font-family: 'Lora', serif;
        font-size: 28px; }
      /* line 58, ../sass/_layout.scss */
      .contents .coR aside p {
        font-size: 12px;
        margin-top: 25px; }

/* line 69, ../sass/_layout.scss */
section h1 {
  font-family: 'Lora', serif;
  font-size: 28px; }
/* line 73, ../sass/_layout.scss */
section p {
  margin-top: 25px;
  font-size: 13px; }

/* line 80, ../sass/_layout.scss */
.s2 {
  margin-top: 75px; }

/* line 85, ../sass/_layout.scss */
.wrapper {
  width: 100%;
  position: relative;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block; }

/* line 93, ../sass/_layout.scss */
.navOpen .wrapper {
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px); }

/* line 99, ../sass/_layout.scss */
nav {
  z-index: 9;
  box-sizing: border-box;
  padding: 85px 25px 25px 25px;
  position: fixed;
  width: 300px;
  height: 100%;
  display: inline-block;
  background: #f5f5f5;
  overflow: auto;
  -moz-box-shadow: 0px 0px 3px #ccc;
  -webkit-box-shadow: 0px 0px 3px #ccc;
  box-shadow: 0px 0px 3px #ccc;
  top: 0px;
  right: 0px;
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  /* line 116, ../sass/_layout.scss */
  nav ul li {
    border-bottom: 1px solid #CCC;
    font-size: 12px; }
    /* line 120, ../sass/_layout.scss */
    nav ul li a {
      display: block;
      padding: 25px 12px;
      color: #333;
      font-weight: bold;
      text-decoration: none; }

/* line 132, ../sass/_layout.scss */
.is-open {
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px); }

/* line 136, ../sass/_layout.scss */
.menu-button {
  z-index: 999;
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  right: 14px;
  top: 15px;
  font-weight: bold;
  background: #C3C3C3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 8px; }
  /* line 149, ../sass/_layout.scss */
  .menu-button span {
    padding-top: 62px;
    font-size: 10px; }
  /* line 154, ../sass/_layout.scss */
  .menu-button i {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 3px;
    background: #E50012;
    transition: background 0.5s;
    position: relative;
    left: 5px;
    top: 14px; }
    /* line 165, ../sass/_layout.scss */
    .menu-button i:before, .menu-button i:after {
      content: "";
      display: block;
      width: 25px;
      height: 3px;
      border-radius: 3px;
      background: #E50012;
      position: absolute;
      transform: rotate(0deg);
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    /* line 178, ../sass/_layout.scss */
    .menu-button i:before {
      transform: translateY(8px); }
    /* line 179, ../sass/_layout.scss */
    .menu-button i:after {
      transform: translateY(-8px); }

/* line 185, ../sass/_layout.scss */
.menu-hover {
  background: #efefef; }
  /* line 189, ../sass/_layout.scss */
  .menu-hover i:before {
    transform: translateY(10px); }
  /* line 190, ../sass/_layout.scss */
  .menu-hover i:after {
    transform: translateY(-10px); }

/* line 194, ../sass/_layout.scss */
.open i {
  background: rgba(255, 255, 255, 0); }
  /* line 197, ../sass/_layout.scss */
  .open i:after {
    transform: translateY(0px) rotate(-45deg); }
  /* line 200, ../sass/_layout.scss */
  .open i:before {
    transform: translateY(0px) rotate(45deg); }

/* line 206, ../sass/_layout.scss */
.form-selector {
  margin-top: 25px;
  width: 50%;
  margin-top: 12px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  box-shadow: 0 2px 0 #AAA;
  background-color: white; }
  /* line 46, ../sass/_mixin.scss */
  .form-selector select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    box-sizing: content-box; }
  /* line 64, ../sass/_mixin.scss */
  .form-selector > select {
    width: 100%;
    padding: 0.3em 2.4em 0.3em 0.6em;
    font-size: 14px; }
  /* line 71, ../sass/_mixin.scss */
  .form-selector:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1.8em;
    display: block;
    content: "";
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAGFBMVEUAAAAZJCYWISIYIyQYIiUWIiIYIyQYIiXh0rToAAAACHRSTlMA/hTRqiinvwFkb0sAAABCSURBVHjajchBDsAgDAPBOJDw/x+XVN0icQGfPGs3i+2GEqeiLCXWLENzvdzrDfP2ls/NjfKbgimYglfBq2Dm+LwHguMA235EdKYAAAAASUVORK5CYII=") center no-repeat;
    pointer-events: none; }

/* line 89, ../sass/_mixin.scss */
.custom-radio input[type="radio"] {
  display: none; }
/* line 92, ../sass/_mixin.scss */
.custom-radio label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
  cursor: pointer; }
/* line 98, ../sass/_mixin.scss */
.custom-radio label::before,
.custom-radio label::after {
  position: absolute;
  content: '';
  top: 50%;
  border-radius: 100%;
  -webkit-transition: all .2s;
  transition: all .2s; }
/* line 107, ../sass/_mixin.scss */
.custom-radio label::before {
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #f3f3f3;
  border: 1px solid #ccc; }
/* line 115, ../sass/_mixin.scss */
.custom-radio label:hover::before {
  background: #fff; }
/* line 118, ../sass/_mixin.scss */
.custom-radio label::after {
  opacity: 0;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background: #3498db;
  -webkit-transform: scale(2);
  transform: scale(2); }
/* line 128, ../sass/_mixin.scss */
.custom-radio input[type="radio"]:checked + label::before {
  background: #fff;
  border: 1px solid #3498db; }
/* line 132, ../sass/_mixin.scss */
.custom-radio input[type="radio"]:checked + label::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* line 142, ../sass/_mixin.scss */
.custom-checkbox input[type="checkbox"] {
  display: none; }
/* line 145, ../sass/_mixin.scss */
.custom-checkbox label {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 22px;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s; }
/* line 153, ../sass/_mixin.scss */
.custom-checkbox label::before,
.custom-checkbox label::after {
  position: absolute;
  content: '';
  -webkit-transition: all .2s;
  transition: all .2s; }
/* line 160, ../sass/_mixin.scss */
.custom-checkbox label::before {
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 3px; }
/* line 170, ../sass/_mixin.scss */
.custom-checkbox label::after {
  opacity: 0;
  top: 50%;
  left: 3px;
  width: 8px;
  height: 4px;
  margin-top: -4px;
  border-left: 2px solid #3498db;
  border-bottom: 2px solid #3498db;
  -webkit-transform: rotate(-45deg) scale(0.5);
  transform: rotate(-45deg) scale(0.5); }
/* line 182, ../sass/_mixin.scss */
.custom-checkbox label:hover::before {
  background: #fff; }
/* line 185, ../sass/_mixin.scss */
.custom-checkbox input[type="checkbox"]:checked + label::before {
  background: #fff;
  border: 1px solid #3498db; }
/* line 189, ../sass/_mixin.scss */
.custom-checkbox input[type="checkbox"]:checked + label::after {
  opacity: 1;
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1); }
