
/*
@include transition(0.3s);
@include transform-origin(0%, 50%);
@include border-radius(5px)
*/


.blogCo{
	width:1000px;
	margin:0 auto;
	padding:65px 0px 65px 0px;
	
	.bL{
		width:600px;
		float:left;
	}
	.bR{
		width:300px;
		float:right;
		
		h3{
			margin-top:25px;
			font-size:14px;
			font-weight:bold;
			padding-top:18px;
			border-top:1px solid #ededed;
			
			&:first-child{
				margin-top:0px;
			}
		}
	}
	
	.titleBox{
		.date{
			font-size:10px;
			
		}
		h3{
			font-size:18px;
		}
	}
	
	.entry{
		p{
			font-size:12px;
			margin-top:35px;
		}
	}
	
	.prevNext{
		margin-top:18px;
		font-size:12px;
	}
}