h1.title{
		@include font1();
		font-size: 56px;
	margin-top: 75px;
		text-align: center;

}

header{
	background:#EBEBEB;
	width: 100%;
	padding: 25px 0px;
	margin-top: 65px;

	
	h1{
		@include font1();
		font-size: 28px;
		text-align: center;

	}
}

footer{
	background:#EBEBEB;
	width: 100%;
	padding: 25px 0px;
	
	h1{
		@include font1();
		font-size: 28px;
		text-align: center;
	}
}

.contents{
	background: #F5F5F5;
	width: 100%;
	margin: 0 auto;
	padding: 65px 55px;
	
	.coL{
		width: 60%;
		float: left;
	}
	.coR{
		width: 30%;
		float: right;
		background: #EBEBEB;
		height: 100%;
		
		aside{
			padding: 25px;
			h1{
				@include font1();
				font-size: 28px;
			}
			p{
				font-size: 12px;
				margin-top: 25px;
			}

		}
	}
}

section{
	
	h1{
		@include font1();
		font-size: 28px;
	}
	p{
		margin-top: 25px;
		font-size: 13px;
	}
	
}

.s2{
	margin-top: 75px;
}


.wrapper{
	width:100%;
	position:relative;
	@include transition(0.3s);
	display:block;
}

.navOpen{
	.wrapper{
		@include transform(translateX(-300px));
	}

}

nav{
	z-index:9;
	box-sizing:border-box;
	padding:85px 25px 25px 25px;
	position:fixed;
	width:300px;
	height:100%;
	display:inline-block;
	background:#f5f5f5;
	overflow:auto;
	@include box-shadow(0px 0px 3px #ccc);
	top:0px;
	right:0px;
	@include transform(translateX(300px));
	@include transition(0.3s);

	ul{
		li{
			border-bottom:1px solid #CCC;
			font-size:12px;

			a{
				display:block;
				padding:25px 12px;
				color:#333;
				font-weight:bold;
				text-decoration:none;
			}

		}
	}
}

.is-open{
	@include transform(translateX(0px));
}

.menu-button{

	z-index:999;
	width:50px;
	height: 50px;
	display: block;
	position:fixed;
	right: 14px;
	top: 15px;
	font-weight:bold;
	background: #C3C3C3;
	@include border-radius(3px);
	padding: 8px;
	span{
		padding-top: 62px;
		font-size: 10px;
	}

	i{
		display: block;
		width: 25px;
		height: 3px;
		border-radius: 3px;
		background: #E50012;
		transition: background 0.5s;
		position: relative;
		left: 5px;
		top: 14px;

		&:before,
		&:after{
		content: "";
		display: block;
		width: 25px;
		height: 3px;
		border-radius: 3px;
		background: #E50012;
		position: absolute;
		transform: rotate(0deg);
		@include transition(0.3s);

		}
		&:before{transform:translateY(8px);}
		&:after{transform:translateY(-8px);}
	}
}



.menu-hover{
	
	background:#efefef;
	i{
		&:before{transform:translateY(10px);}
		&:after{transform:translateY(-10px);}
	}
}

.open i{
	background:rgba(255,255,255,0);
	
	&:after{
		transform:translateY(0px) rotate(-45deg);
	}
	&:before{
		transform:translateY(0px) rotate(45deg);
	}
}


.form-selector{
	margin-top: 25px;
	@include deco-selecter();
}

.custom-radio{
	@include costom-radio();
}
.custom-checkbox{
	@include costom-checkbox();
}
