
/*
@include transition(0.3s);
@include transform-origin(0%, 50%);
@include border-radius(5px);
@include animation(animationSample 1.2s ease 0.15s);

*/


.ico{
	width:1000px;
	margin:0 auto;
	margin-top:55px;
	
	h2{
		border-bottom:1px solid #ededed;
	}
	
	.bL{
		width:480px;
		float:left;
	}
	.bR{
		width:480px;
		float:right;

	}
	
	.b{
		margin-top:25px;
		
		a{
			text-decoration:none;
			
			.date{
				font-size:10px;
			}
			h3{
				font-size:12px;
				font-weight:bold;
			}
		}
		.cate{
			font-size:10px;
			font-weight:bold;
			color:#666;
			margin-top:12px;
		}

	}
}

.indexCase{
	margin-top:65px;
}

.list{
	width:900px;
	margin:55px auto 0 auto;
	
	li{
		@include transition(0.5s);
		@include border-radius(5px);
		@include transform-origin(50%, 50%);
		@include animation(amine1 0.5s ease 0.15s);   
		
		float:left;
		width:250px;
		height:250px;
		margin-right:50px;
		margin-top:50px;
		background:#999;
			
		&:nth-child(3n){
			margin-right:0px;
		}
		
		&:hover{
			background:#666;
			@include scale(1.1,1.1)
			
		}
		
	}
}


