
/*
@include transition(0.3s);
@include transform-origin(0%, 50%);
@include border-radius(5px);
@include animation(animationSample 1.2s ease 0.15s);

*/

#quote{
	position:relative;
	width: 100%;
	background: #fff;
	border: 1px solid #E7E7E7;
	padding: 15px;
}
